In [158]:
import pandas as pd
import numpy as np
import json
import os

In [159]:
df = pd.DataFrame()

In [169]:
file_path = r'C:\Users\liban\OneDrive - University of Waterloo\Projects\Football-Modelling\data\source\WhoScored\events\ENG-Premier League_2021'

for filename in os.listdir(file_path):
    f = os.path.join(file_path, filename)
    with open(f, 'r') as j:
        contents = json.loads(j.read())
        df = df.append(pd.DataFrame(contents["events"]))

In [170]:
df.shape

(271607, 33)

In [171]:
df.head()

,eventId,expandedMinute,id,isTouch,minute,outcomeType,period,qualifiers,satisfiedEventsTypes,second,...,blockedY,cardType,isGoal,$idx,$len,field,minuteInfo,satisfiers,text,isOwnGoal
0,2,0,2253487473,False,0,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}",[],[],0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000003,0,2253487469,False,0,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}",[],[],0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000004,0,2253487625,True,0,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'Angle', 'value': 21...","[91, 117, 30, 35, 215, 218]",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000005,0,2253487639,True,0,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'StandingSave', 'val...","[91, 117, 30, 36, 38, 216, 218]",2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000006,0,2253487685,True,0,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'Longball', 'value':...","[91, 119, 117, 123, 124, 127, 205, 39, 46, 36,...",7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
df.columns

Index(['eventId', 'expandedMinute', 'id', 'isTouch', 'minute', 'outcomeType',
       'period', 'qualifiers', 'satisfiedEventsTypes', 'second', 'teamId',
       'type', 'x', 'y', 'endX', 'endY', 'playerId', 'goalMouthY',
       'goalMouthZ', 'isShot', 'relatedEventId', 'relatedPlayerId', 'blockedX',
       'blockedY', 'cardType', 'isGoal', '$idx', '$len', 'field', 'minuteInfo',
       'satisfiers', 'text', 'isOwnGoal'],
      dtype='object')

In [173]:
df_shots = df[df["isShot"] == True].copy()

In [174]:
df_shots.head()

,eventId,expandedMinute,id,isTouch,minute,outcomeType,period,qualifiers,satisfiedEventsTypes,second,...,blockedY,cardType,isGoal,$idx,$len,field,minuteInfo,satisfiers,text,isOwnGoal
5,1000007,0,2253487689,True,0,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'RelatedEventId', 'v...","[91, 7, 90, 10, 1, 3, 13]",11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,1000029,2,2253489297,True,2,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'GoalMouthY', 'value...","[91, 10, 2, 3, 11, 13]",49.0,...,37.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,1000093,9,2253492889,True,9,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'GoalMouthZ', 'value...","[91, 10, 2, 3, 11, 12]",2.0,...,58.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,1000120,12,2253494513,True,12,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'OutOfBoxCentre', 'v...","[91, 7, 10, 2, 3, 13]",5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,177,16,2253496507,True,16,"{'displayName': 'Successful', 'value': 1}","{'displayName': 'FirstHalf', 'value': 1}","[{'type': {'displayName': 'GoalMouthY', 'value...","[91, 9, 10, 1, 3, 12]",8.0,...,49.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
relevant_columns = ['outcome', 'x', 'y', 'intentional_assist', 'context', 'distance_to_goal',
                    'angle']

In [176]:
df_shots.iloc[16]

eventId                                                               768
expandedMinute                                                         75
id                                                             2253522047
isTouch                                                              True
minute                                                                 70
outcomeType                     {'displayName': 'Successful', 'value': 1}
period                          {'displayName': 'SecondHalf', 'value': 2}
qualifiers              [{'type': {'displayName': 'IntentionalAssist',...
satisfiedEventsTypes                [91, 24, 9, 10, 1, 3, 12, 17, 19, 25]
second                                                                8.0
teamId                                                                 32
type                                 {'displayName': 'Goal', 'value': 16}
x                                                                    84.0
y                                                                    54.0
endX                                                                  NaN
endY                                                                  NaN
playerId                                                          97752.0
goalMouthY                                                           50.0
goalMouthZ                                                            8.9
isShot                                                               True
relatedEventId                                                      767.0
relatedPlayerId                                                  300299.0
blockedX                                                              NaN
blockedY                                                              NaN
cardType                                                              NaN
isGoal                                                               True
$idx                                                                  NaN
$len                                                                  NaN
field                                                                 NaN
minuteInfo                                                            NaN
satisfiers                                                            NaN
text                                                                  NaN
isOwnGoal                                                             NaN
Name: 1177, dtype: object

In [177]:
l = []
for x in range((20)):
    for y in range(len(df_shots.iloc[x]["qualifiers"])):
        l.append(df_shots.iloc[x]["qualifiers"][y]["type"]["displayName"])

In [178]:
set(l)

{'Assisted',
 'Blocked',
 'BlockedX',
 'BlockedY',
 'BoxCentre',
 'BoxLeft',
 'BoxRight',
 'FromCorner',
 'GoalMouthY',
 'GoalMouthZ',
 'HighCentre',
 'HighLeft',
 'HighRight',
 'IntentionalAssist',
 'LeftFoot',
 'LowCentre',
 'LowRight',
 'MissLeft',
 'MissRight',
 'OppositeRelatedEvent',
 'OutOfBoxCentre',
 'RegularPlay',
 'RelatedEventId',
 'RightFoot',
 'StandingSave',
 'Zone'}

In [179]:
df_shots.iloc[x]["qualifiers"]

[{'type': {'displayName': 'RightFoot', 'value': 20}},
 {'type': {'displayName': 'StandingSave', 'value': 178}},
 {'type': {'displayName': 'LowRight', 'value': 80}},
 {'type': {'displayName': 'GoalMouthZ', 'value': 103}, 'value': '19'},
 {'type': {'displayName': 'GoalMouthY', 'value': 102}, 'value': '47.6'},
 {'type': {'displayName': 'RegularPlay', 'value': 22}},
 {'type': {'displayName': 'Zone', 'value': 56}, 'value': 'Center'},
 {'type': {'displayName': 'Blocked', 'value': 82}},
 {'type': {'displayName': 'BlockedY', 'value': 147}, 'value': '39.2'},
 {'type': {'displayName': 'BoxRight', 'value': 63}},
 {'type': {'displayName': 'OppositeRelatedEvent', 'value': 233},
  'value': '902'},
 {'type': {'displayName': 'BlockedX', 'value': 146}, 'value': '93.2'}]

In [180]:
df_shots.iloc[22]["qualifiers"]

[{'type': {'displayName': 'BigChance', 'value': 214}},
 {'type': {'displayName': 'GoalMouthY', 'value': 102}, 'value': '51.2'},
 {'type': {'displayName': 'IntentionalAssist', 'value': 154}},
 {'type': {'displayName': 'BlockedY', 'value': 147}, 'value': '46.8'},
 {'type': {'displayName': 'RightFoot', 'value': 20}},
 {'type': {'displayName': 'GoalMouthZ', 'value': 103}, 'value': '6.3'},
 {'type': {'displayName': 'RelatedEventId', 'value': 55}, 'value': '939'},
 {'type': {'displayName': 'LowCentre', 'value': 78}},
 {'type': {'displayName': 'OppositeRelatedEvent', 'value': 233},
  'value': '1000698'},
 {'type': {'displayName': 'FastBreak', 'value': 23}},
 {'type': {'displayName': 'Assisted', 'value': 29}},
 {'type': {'displayName': 'BoxCentre', 'value': 17}},
 {'type': {'displayName': 'BlockedX', 'value': 146}, 'value': '94.5'},
 {'type': {'displayName': 'StandingSave', 'value': 178}},
 {'type': {'displayName': 'Zone', 'value': 56}, 'value': 'Center'}]

In [181]:
def angle(x,y):
    '''
    Calculated in Radians.
    '''
    #x = x*105/100
    #y = y*65/100
    
    x = 100 - x
    y = abs(y-50)
    x = x*105/100
    y = y*65/100
    a = np.arctan(7.32 *x /(x**2 + y**2 - (7.32/2)**2))
    if a < 0:
        a = np.pi + a
    return a

def intentional_assist(row):
    for x in row["qualifiers"]:
        if x["type"]["displayName"] == 'IntentionalAssist':
            return 1
    return 0

def context(row):
    for x in row["qualifiers"]:
        if x["type"]["displayName"] == 'RegularPlay':
             return 0
        if x["type"]["displayName"] == 'FromCorner':
            return 1
    return 2

def distance(x,y):
    x = 100 - x
    y = abs(y-50)
    x = x*105/100
    y = y*65/100
    return np.sqrt(x**2 + y**2)

def goal(row):
    if row["isGoal"] == True:
        return 1
    else:
        return 0

In [182]:
df_shots = df[df["isShot"] == True].copy()

df_shots['angle'] = df_shots.apply(lambda i: angle(i["x"], i["y"]), axis=1)
df_shots['intentional_assist'] = df_shots.apply(lambda i: intentional_assist(i), axis=1)
df_shots['context'] = df_shots.apply(lambda i: context(i), axis=1)
df_shots['distance_to_goal'] = df_shots.apply(lambda i: distance(i["x"], i["y"]), axis=1)
df_shots['isGoal'] = df_shots.apply(lambda i: goal(i), axis=1)

In [183]:
df_shots = df_shots[["isGoal", "x", "y", "angle", "intentional_assist", "distance_to_goal",
                    "context"]]

In [184]:
y = df_shots[["isGoal"]].copy()
X = df_shots.drop(["isGoal"], axis=1)

In [185]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [186]:
from sklearn.linear_model import LogisticRegression

In [187]:
logisticRegr = LogisticRegression()

In [188]:
logisticRegr.fit(x_train, y_train)

C:\Users\liban\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [189]:
predictions = logisticRegr.predict(x_test)

In [190]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [195]:
predictions

True